/*
  Name: Hrigdev Thapa
  Date:2025/11/28
  Filename: style.css
  Description: This project creates an animated bouncing balls demo using HTML, CSS, and JavaScript. 
  It sets up a full-screen canvas, uses a Ball class to build moving objects, and animates them with movement, color changes, and collision detection.
*/

html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}